---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Card from "../../components/Card.astro";

export async function getStaticPaths() {
  const collections: Array<"posts" | "projects" | "experience"> = [
    "posts",
    "projects",
    "experience",
  ];
  const allEntries = await Promise.all(
    collections.map(async (col) => await getCollection(col)),
  ).then((results) => results.flat());

  const uniqueTags = [
    ...new Set(
      allEntries
        .map((e) => e.data.tags)
        .flat()
        .filter(Boolean),
    ),
  ];

  return uniqueTags.map((tag) => {
    const filtered = allEntries
      .filter((e) => e.data.tags?.includes(tag) && !e.data.draft)
      .sort(
        (a, b) =>
          (b.data.pubDate?.valueOf() || 0) - (a.data.pubDate?.valueOf() || 0),
      );

    return {
      params: { tag },
      props: { cards: filtered },
    };
  });
}

// Props for the current tag page
const { tag } = Astro.params;
const { cards } = Astro.props;
---

<BaseLayout
  title={`Tag: ${tag}`}
  description={`All content tagged with "${tag}"`}
>
  <div class="posts">
    <h1 class="posts-title">
      <span style="color: var(--foreground)"
        >Content for: <span style="color: var(--accent)">#{tag}</span></span
      >
    </h1>

    {
      cards.length === 0 ? (
        <p>No content found with this tag.</p>
      ) : (
        cards.map((card) => <Card card={card} site_path={card.collection} />)
      )
    }
  </div>
</BaseLayout>

<style>
  .posts-title {
    color: var(--foreground);
    margin-top: 0 !important;
    margin-bottom: 30px !important;
    padding-bottom: 0 !important;
    border-bottom: none !important;
  }

  .posts-title::after {
    display: none !important;
  }
</style>
