---
import { getCollection } from 'astro:content';
import MarkdownLayout from '../../layouts/MarkdownLayout.astro';

export async function getStaticPaths() {
  const experiences = (await getCollection('experience'))
    .filter(experience => !experience.data.draft)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
  
  return experiences.map((experience, index) => ({
    params: { slug: experience.slug },
    props: {
      experience,
      prevPost: index < experiences.length - 1 ? experiences[index + 1] : null,
      nextPost: index > 0 ? experiences[index - 1] : null,
    },
  }));
}

const { experience, prevPost, nextPost } = Astro.props;
const { Content } = await experience.render();
const base = import.meta.env.BASE_URL.endsWith('/') ? import.meta.env.BASE_URL : import.meta.env.BASE_URL + '/';
---

<MarkdownLayout {...experience.data}>
  <Content />
  
  <div class="pagination">
    <div class="pagination__title">
      <span class="pagination__title-h">Read other experience</span>
      <hr />
    </div>
    <div class="pagination__buttons">
      {prevPost && (
        <>
          <a href={`${base}experience/${prevPost.slug}/`} class="button inline prev">
            &lt; [<span class="button__text">{prevPost.data.title}</span>]
          </a>
          {prevPost && nextPost && <span>::</span>}
        </>
      )}
      {nextPost && (
        <a href={`${base}experience/${nextPost.slug}/`} class="button inline next">
          [<span class="button__text">{nextPost.data.title}</span>] &gt;
        </a>
      )}
    </div>
  </div>
</MarkdownLayout>
